# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.env
.venv
env/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Poetry
poetry.lock

# Logs
logs/
*.log
log/
*/logs/*
*/log/*
process_log.log
file_operations.log
debug.log
error.log
*.log.*
*.jpg
*.png
*.gif
*.bmp
*.tiff
*.ico
*.webp
*/ocr_cache.json
src/nodes/pics/ocr_cache.json

*.txt
src/nodes/config/performance_config.json

src/scripts/folder/archive_check_history.yaml
src/scripts/md/1.md
src/scripts/archive/011-记录时间戳.py
src/scripts/folder/timestamp_backups/*
/src/packages/exe/jxl
src/nodes/comic/cache/preview_cache.json

src\scripts\comic\classify\artist_preview.html
src\nodes\pics\test
src/scripts/folder/archive_check_history.json
/src/packages/vips
/src/packages
src/nodes/pics/test/*
src/nodes/pics/cv_text_image_cache.json
src/nodes/pics/convert/performance_config.json
/src/scripts/folder/organize_folder copy.py
/src/scripts/md/1.md
/src/scripts/md/formatter/1.md
src/scripts/md/CxDownload
/src/scripts/md/formatter/1_deduped.md
/src/nodes/pics/filter/ocr_cache.json
task_st/Taskfile.yml.bak.*
